
---
title: Posts

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
  position: 1
  listed: 1
# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# other unique identifier of this page. To be used with the path_to liquid tag.
# handle: my-page-handle

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---

{% extends parent %}

{% block main %}
  <div class="posts">
    {% for post in contents.posts %}
      <div class="post-listing">
        {% if post.featured_image.url %}
          <img src="{{ post.featured_image.url | resize: '400x200#' }}" alt="{{ post.title | escape }}">
        {% endif %}
        <div class="caption">
          <h3>{{ post.title | escape }}</h3>
          <div class="teaser">{{ post.teaser }}</div>
          <p><a href="/posts/{{ post._slug }}">Read More</a></p>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
