---
title: Simple
is_layout: true
---
{% extends 'layouts/default' %}

{% block content %}

{% block header, short_name: true, priority: 1 %}
.container
  .jumbotron
    {% editable_text jumbotron, rows: 5, priority: 1 %}
    %h1 Become a blogger is some few minutes
    %p This is a simple site with editable sections like this one. No content types.
    {% endeditable_text %}
{% endblock %}

.container
  {% block main, short_name: true %}

  {% endblock %}
{% endblock %}